<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangfx.salary.mapper.TestMapper">


    <select id="getListById" resultType="com.zhangfx.salary.model.Test" parameterType="integer">
        select * from zhangfx.test where id=#{id};
    </select>
</mapper>